{% extends "basic_generic.html" %}

{% block content %}

<div class="containersito">
  <h1>Nombre: {{ receta.nombre }}</h1>
  <strong>Ingredientes:</strong>
  <p>{{ receta.ingredientes }}</p>
  <strong>Preparacion:</strong> 
  <p>{{ receta.preparacion }}</p> 
  <strong>Tiempo de Preparacion:</strong> 
  <p>{{ receta.tiempo_preparacion }}</p> 
  <strong>Categoría</strong>
  <p>{{ receta.tipo }}</p>  
  <strong>Metodo de Coccion:</strong>
  <p>{{ receta.metodo_coccion }}</p>  

</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script type="text/javascript">
    
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    new Vue({
      el: '#starting',
      delimiters: ['${','}'],
      data: {
          
      },
      created: function() {
       
      },
      methods: {
          showMessage() {
              this.focus = true;
          }
      }
    });
  </script> 
{% endblock %}